page-home {


  .content-header {
    text-align: center;
    padding: 30px 0;
  }

  #ether-address {
    color: #777;
  }

  #tokenName {
    color: #8a8a8a;
    font-size: 12px;
  }

  #tokenSymbol {
    color:  #262626;
    font-size: 16px;
    font-weight: bold;
  }

  #tokenSymbolLogo {
    line-height: 40px;
    text-align: center;
    color: white;
    border-radius: 50%;
  }

}

ion-app.cameraView page-home {
  display: none;
}

