<ion-header>

  <ion-navbar>
    <ion-title>History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let tx of txs" (click)="showDetail(tx)">
      <ion-card-content>
        <ion-item>
          <ion-avatar item-start>
            <!--<img src="img/my-avatar.png">-->
            <p id="tokenSymbol">{{ tx.tokenSymbol}}</p>
          </ion-avatar>
          <div>
            <p *ngIf="walletProvider.checkSumAddress(tx.to) == walletAddress">Received {{ tx.tokenSymbol }}</p>
            <p *ngIf="walletProvider.checkSumAddress(tx.from) == walletAddress">Sent {{ tx.tokenSymbol }}</p>
            <p>{{ tx.timeStamp * 1000 | date: 'dd/MM/yyyy' }} at {{ tx.timeStamp * 1000 | date: 'shortTime' }}</p>
          </div>
          <p item-end [ngClass]="{'sent' : walletProvider.checkSumAddress(tx.from) == walletAddress, 'received' : walletProvider.checkSumAddress(tx.to) == walletAddress}">
            {{ tx.value }}
          </p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
