<ion-header>

  <ion-navbar>
    <ion-title>History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let tx of txs" (click)="showDetail(tx)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p *ngIf="walletProvider.checkSumAddress(tx.to) == walletAddress">Received {{ tx.tokenSymbol }}</p>
            <p *ngIf="walletProvider.checkSumAddress(tx.from) == walletAddress">Sent {{ tx.tokenSymbol }}</p>
          </ion-col>
          <ion-col>
            <p>{{ tx.value }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <p>{{ tx.timeStamp * 1000 | date: 'dd/MM/yyyy' }} at {{ tx.timeStamp * 1000 | date: 'shortTime' }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
