// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.list-md .item-block .item-inner {
  border-bottom: none;
}

.list-md ion-item-sliding {
  &:first-of-type {
    margin-top: 18px;
  }
  &:not(:last-of-type) {
    margin-bottom: 18px;
  }
  margin-right: 18px;
  margin-left: 18px;
  border-radius: 18px;
  width: auto;
  box-shadow: #cecece 0 1px 4px 0;
}

.item-md {
  padding: 0;
}

ion-content.has-refresher > .scroll-content {
  background-color: #f5f5f5;
}

.item-md ion-avatar[item-start] {
  margin: 8px 16px;
}

.toolbar-title {
  text-align: center;
}

.item-md ion-avatar img {
  border: 0.01em solid;
  width: 42px;
  height: 42px;
}

.fab-md-primary {
  color: #fff;
  background-color: #58c9e3;
}

.fab-md-secondary {
  color: #fff;
  background-color: #9cd192;
}

ion-fab .fab-list-active .fab-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.fab-md {
  z-index: 1;
}
