page-import-wallet {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .btn-import {
    padding: 10px 60px;
    margin-top: 16px;
  }
}
