<ion-header>

  <ion-navbar>
    <ion-title>{{token.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="content-header">

    <p id="token-symbol" [ngStyle]="{'background-color': symbolBgColor(token.name)}">{{ token.symbol}}</p>
    <h1 id="token-balance">{{ tokenBalance }} {{ token.symbol }}</h1>
    <small id="token-name">{{ token.name }}</small>

  </div>
  <div class="content-body">

    <ion-list>
      <ion-item *ngFor="let tx of txs" (click)="showDetail(tx)">
        <div class="left">
          <p id="tx-date">#XX - {{ tx.timeStamp * 1000 | date: 'dd/MM/yyyy' }}, {{ tx.timeStamp * 1000 | date: 'shortTime' }}</p>
          <div class="token">
            <p id="token-symbol" [ngStyle]="{'background-color': symbolBgColor(tx.tokenName)}">{{ tx.tokenSymbol}}</p>
            <p id="token-name" *ngIf="walletProvider.checkSumAddress(tx.to) == walletAddress">Received {{ tx.tokenSymbol }}</p>
            <p id="token-name" *ngIf="walletProvider.checkSumAddress(tx.from) == walletAddress">Sent {{ tx.tokenSymbol }}</p>
          </div>
        </div>
        <div class="right">
          <p id="tx-amount" item-end [ngClass]="{'sent' : walletProvider.checkSumAddress(tx.from) == walletAddress, 'received' : walletProvider.checkSumAddress(tx.to) == walletAddress}">
            {{ divideBalance(tx.value, tx.tokenDecimal) }}
          </p>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>
